{% extends "layouts/dashboard-layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="card card-chart">
                <div class="card-header">
                    <h4 class="card-title">K-Mean
                        <small class="card-category"> - Clustering Telecommunications Customers</small>
                    </h4>
                </div>
                <div class="card-body">
                    <p id="chart"></p>
                    <script>
                        $(document).ready(function () {
                            var graph = {{ kmean.plot | safe }};
                            Plotly.plot('chart', graph, {{ kmean.chart_layout | safe }}, {
                                showLink: false,
                                displaylogo: false,
                                showAxisDragHandles: false
                            });
                        });
                    </script>
                    {% if kmtf.errors %}
                        <div class="alert alert-danger text-center">
                            <ul class="errors">
                                {% for field_name, field_errors in kmtf.errors|dictsort if field_errors %}
                                    {% for error in field_errors %}
                                        <li>{{ kmtf[field_name].label }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <form class="form" method="post" action="{{ url_for('kmean_page') }}">
                        {{ kmtf.csrf_token }}
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                {{ kmtf.dataset.label }}
                                {{ kmtf.dataset(class_='form-control') }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ kmtf.clusters.label }}
                                {{ kmtf.clusters(class_='form-control') }}
                            </div>
                            <div class="form-group col-md-4">
                                {{ kmtf.n_init.label }}
                                {{ kmtf.n_init(class_='form-control') }}
                            </div>
                        </div>
                        <p>
                            {{ kmtf.train(class_='btn btn-danger btn-round') }}
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <div class="card card-chart">
                <div class="card-header">
                    <h2 class="card-title">Training Data</h2>
                </div>
                <div class="card-body">
                    <h3>Provided Data</h3>
                    <div style="height: 10rem;" class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Education (X)</th>
                                <th>Age (Y)</th>
                                <th>Income (Z)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for x,y,z in kmean.x|zip(kmean.y, kmean.z) %}
                                <tr>
                                    <td>{{ x }}</td>
                                    <td>{{ y }}</td>
                                    <td>{{ z }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="card card-chart">
                <div class="card-header">
                    <h2 class="card-title">Predicted Data</h2>
                </div>
                <div class="card-body">
                    <h3>Clustor Number</h3>
                    <div style="height: 10rem;" class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Label (Predicted/Clustered)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for label in kmean.Predicted %}
                                <tr>
                                    <td>{{ label }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}