{% extends "layouts/admin-dashboard-layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-chart">
                <div class="card-header">
                    <h4 class="card-title">Hi, {{ session['full_name'] }}</h4>
                </div>
                <div class="card-body text-capitalize">
                    <p class="lead">Welcome to Your ML Platform Admin dashboard.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-chart text-center">
                <div class="card-header">
                    <h4 class="card-title text-success"><i class="fas fa-comment"></i> All Messages</h4>
                </div>
                <div class="card-body text-capitalize">
                    {% with message = get_flashed_messages(category_filter=["message"]) %}
                        {% if message %}
                            <div class="alert alert-success text-center">
                                {% for msg in message %}
                                    <p>
                                        {{ msg }}
                                    </p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    {% with message = get_flashed_messages(category_filter=["error"]) %}
                        {% if message %}
                            <div class="alert alert-danger text-center">
                                {% for msg in message %}
                                    <p>
                                        {{ msg }}
                                    </p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Responded?</th>
                                <th>IP</th>
                                <th>Message</th>
                                <th>Contacted At</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in messages %}
                                <tr>
                                    <td>
                                        {% if message.responded == 0 %}
                                            <a rel="tooltip" title="Mark Responded" data-placement="bottom"
                                               data-original-title="Mark Responded"
                                               href="{{ url_for('admin_responded_messages_page', mid=message.id) }}"><i
                                                    class="fas fa-check"></i></a> |
                                        {% endif %}
                                        <a rel="tooltip" title="Delete Message" data-placement="bottom"
                                           data-original-title="Delete Message"
                                           href="{{ url_for('admin_delete_messages_page', mid=message.id) }}"><i
                                                class="fas fa-times"></i></a>
                                    </td>
                                    <td>{{ message.id }}</td>
                                    <td>{{ message.name|safe }}</td>
                                    <td class="text-lowercase">{{ message.email }}</td>
                                    <td>
                                        {% if message.responded == 1 %}
                                            <span class="text-success">Yes</span>
                                        {% else %}
                                            <span class="text-danger">No</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ message.ip }}
                                    </td>
                                    <td>
                                        <pre>{{ message.message|safe }}</pre>
                                    </td>
                                    <td>{{ message.time_created|datetime }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}