<h4>Dear {{ user.full_name }},</h4>
<p>
    Your account for the {{ user.email }} has been <b>verified</b> on {{ user.time_updated|datetime }} after we received your
    query of verifying your account and found out your reason to be valid. If you had any queries regarding this action, you can
    contact us at {{ url_for("contact_page") }} or reply to this email.
</p>
<p>
    If you think this is a mistake, then you can reply to this email to
    report to us and we'll look into your query and reply to you within 2 to 3 business days.
</p>
<p>
    <b>Details:</b><br>
    Name: {{ user.full_name }}<br>
    Email: {{ user.email }}<br>
    Password: <i>Your Chosen Password</i><br>
    Time : {{ user.time_updated|datetime }}<br>
    Status: Verified
</p>
<p>Sincerely,</p>
<p>The ML Platform</p>
<p>
    <small>This email is intended for {{ user.email }} because this email was used for creating an account at ML
        Platform. If you believe you did not create this account please reply to this email
        with the letting us know that this was a spam.
    </small>
</p>