{% extends "layouts/main-layout.html" %}

{% block body %}
    <div class="row">
        <div class="card ml-auto mr-auto col-md-8">
            <div class="card-body">
                <div class="section flex justify-content-center align-content-center">
                    <h3 class="card-title text-center">About Us</h3>
                    <div class="row">
                        <div class="col-md-12 ml-auto mr-auto">
                            <div class="card card-plain text-center">
                                <div class="col-md-12 ml-auto mr-auto">
                                    <img width="150" height="160"
                                         src="{{ url_for ('static', filename='img/me.jpg') }}"
                                         alt="Thumbnail Image"
                                         class="img-raised rounded-circle img-fluid">
                                </div>
                                <h4 class="card-title">Ali Raza
                                    <br>
                                    <small class="card-description text-muted">Full Stack
                                        Developer
                                    </small>
                                </h4>
                                <div class="card-body">
                                    <p class="card-description">Hi! I am Ali Raza. I am a full
                                        stack developer working as a freelancer.
                                        Currently I am studying BS Computer Science and in my
                                        final year.</p>
                                    <p>
                                        <a href="https://twitter.com/dev_raza"
                                           class="btn btn-link btn-just-icon"><i
                                                class="fa fa-twitter"></i></a>
                                        <a href="https://www.linkedin.com/in/ali-raza-73798812b/"
                                           class="btn btn-link btn-just-icon"><i
                                                class="fa fa-linkedin"></i></a>
                                        <a href="https://web.facebook.com/rana.ali.raza.0"
                                           class="btn btn-link btn-just-icon"><i
                                                class="fa fa-facebook-square"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}