{% extends "layouts/main-layout.html" %}

{% block body %}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <section class="section">
                    <h3 class="card-title text-center">Reset Password</h3>
                    <div class="row flex justify-content-center align-content-center">
                        <div class="col-md-12">
                            {% if form.errors %}
                                <div class="alert alert-danger text-center">
                                    <ul class="errors">
                                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                            {% for error in field_errors %}
                                                <li>{{ form[field_name].label }}: {{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% with message = get_flashed_messages(category_filter=["message"]) %}
                                {% if message %}
                                    <div class="alert alert-success text-center">
                                        {% for msg in message %}
                                            <p>
                                                {{ msg }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                            {% with message = get_flashed_messages(category_filter=["error"]) %}
                                {% if message %}
                                    <div class="alert alert-danger text-center">
                                        {% for msg in message %}
                                            <p>
                                                {{ msg }}
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                            <form class="form" method="post" action="{{ url_for('reset_password_page') }}">
                                {{ form.csrf_token }}
                                <div class="form-group">
                                    {{ form.email.label }}
                                    {{ form.email(class_='form-control') }}
                                </div>
                                <div class="text-center">
                                    {{ form.reset(class_='btn btn-primary btn-round') }}
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}